* {
  padding: 0;
  margin: 0:
}
:root {
  --main-color: 111;
  --main-color-roof: #999;
  --main-color-snowman: #fff;
  
}
body {
  background-color: #86C8E9;

}
h1 {
  font-family: 'Indie Flower', cursive;
  position: absolute;
  top: 300px;
  left: 145px;
  
}
.wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


.snowman_wrapper {
  position: absolute;
  top: 10px;
  left: 300px;
}
.snowman_head {
  z-index: 1;
  position: absolute;
  top: 102px;
  left: 200px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: var(--main-color-snowman);
  background: #CECECE;
  background: -moz-linear-gradient(left, #CECECE 0%, #E6E7EB 50%, #C5C5C5 100%);
  background: -webkit-linear-gradient(left, #CECECE 0%, #E6E7EB 50%, #C5C5C5 100%);
  background: linear-gradient(to right, #CECECE 0%, #E6E7EB 50%, #C5C5C5 100%);
}

.snowman_body {
  z-index: 0;
  position: absolute;
  top: 150px;
  left: 200px;
  height: 160px;
  width: 100px;
  border-radius: 50%;
  background-color: var(--main-color-snowman);
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 30%;
  background-color: #CECECE; 
  background: -moz-linear-gradient(left, #CECECE 0%, #E6E7EB 50%, #C5C5C5 100%);
  background: -webkit-linear-gradient(left, #CECECE 0%, #E6E7EB 50%, #C5C5C5 100%);
  background: linear-gradient(to right, #CECECE 0%, #E6E7EB 50%, #C5C5C5 100%);
}
.snowman_shadow {
  z-index: -2;
  position: absolute;
  top: 200px;
  left: 226px;
  width: 100px;
  height: 100px;
  border-radius: 40%;

  background: linear-gradient(to right, #CECECE 0%, #E6E7EB 50%, #C5C5C5 100%);

  -webkit-box-shadow: 50px 50px 9px 5px #F7F7F7; 
box-shadow: 5px 4px 244px 133px #F1F1F1;
  -moz-transform: translate(13px, 9px) skew(-52deg, 7deg);
-webkit-transform: translate(13px, 9px) skew(-52deg, 7deg);
-o-transform: translate(13px, 9px) skew(-52deg, 7deg);
-ms-transform: translate(13px, 9px) skew(-52deg, 7deg);
transform: translate(13px, 9px) skew(-52deg, 7deg);
  border-top-right-radius: 999px;
  border-top-left-radius:  800px;
  border-bottom-right-radius: 650px;
  border-bottom-left-radius:  550px;
}
.eye_left {
  z-index: 1;
  background-color: red;
  height: 10px;
  width: 10px;
  position: absolute;
  top: 125px;
  left: 225px;
  border-radius: 50%;
  -webkit-box-shadow: 18px 1px 21px -2px rgba(0,0,0,0.45); 
box-shadow: 18px 1px 21px -2px rgba(0,0,0,0.45);
}
.eye_right {
  z-index: 1;
  background-color: red;
  height: 10px;
  width: 10px;
  position: relative;
  top: 120px;
  left: 255px;
  border-radius: 50%;
}

.mouth {
  z-index: 1;
  background-color: red;
  height: 10px;
  width: 75px;
  position: relative;
  top: 140px;
  left: 210px;
  border-radius: 50%;
}

.nose {
  z-index: 2;
  background-color: orange;
  height: 10px;
  width: 15px;
  position: relative;
  top: 113px;
  left: 235px;

-webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.hat_wrapper {
  width:  100%;
  height: 100%;
  position: absolute;
  top: 22px;
  left: 295px;
}
.hat {
  z-index: 2;
  background-color: white;
  height: 90px;
  width: 75px;
  position: absolute;
  top: 13px;
  left: 210px;
  border-top-right-radius: 30%;
  border-top-left-radius: 30%;
  background: #001ACE;
  background: -moz-linear-gradient(left, #001ACE 0%, #E6E7EB 50%, #9E6AC5 100%);
  background: -webkit-linear-gradient(left, #001ACE 0%, #E6E7EB 50%, #9E6AC5 100%);
  background: linear-gradient(to right, #001ACE 0%, #E6E7EB 50%, #9E6AC5 100%);
}
.hat_band {
  z-index: 5;
  position: absolute;
  top:  83px;
  left: 200px;
  background-color: green;
  height: 19px;
  width: 111px;
  border-top-right-radius: 90%;
  border-top-left-radius: 90%;
  border-top-style: solid;
  border-top-color: black;
  background: #C38ACE;
  background: -moz-linear-gradient(left,   #C38ACE 0%, #D2C3E8 50%, #C38ACE  100%);
 background: -webkit-linear-  gradient(left, #C38ACE 0%, #D2C3E8 50%,  #C38ACE 100%);
 background: linear-gradient(to right,  #C38ACE 0%, #D2C3E8 50%, #C38ACE 100%);
} 

.eye_left {
  background-color: red;
  height: 10px;
  width: 10px;
  position: absolute;
  top: 125px;
  left: 225px;
  border-radius: 50%;
}
.eye_right {
  background-color: red;
  height: 10px;
  width: 10px;
  position: relative;
  top: 120px;
  left: 255px;
  border-radius: 50%;
}

.mouth {
  background-color: red;
  height: 10px;
  width: 75px;
  position: relative;
  top: 140px;
  left: 210px;
  border-radius: 50%;
}

.snow_ground {
  position: absolute;
  top: 300px;
  left: 100px;
  width: 100px;
  height: 300px;
  background-color: white;
 
  -webkit-clip-path: circle(30.7% at 50% 100%);
clip-path: circle(30.7% at 50% 100%);
}
.snow_ground2 {
  position: absolute;
  top: 303px;
  left: 150px;
  width: 100px;
  height: 300px;
  background-color: white;
  
  -webkit-clip-path: circle(30.7% at 50% 100%);
clip-path: circle(30.7% at 50% 100%);
}

.snow_ground3 {
  position: absolute;
  top: 310px;
  left: 10px;
  width: 100px;
  height: 300px;
  background-color: white;
  
  -webkit-clip-path: circle(30.7% at 50% 100%);
  clip-path: circle(30.7% at 50% 100%);
}
.snow_ground4 {
  position: absolute;
  top: 310px;
  left: 220px;
  width: 100px;
  height: 300px;
  background-color: white;
  
  -webkit-clip-path: circle(30.7% at 50% 100%);
clip-path: circle(30.7% at 50% 100%);
}
.snow_ground5 {
  position: absolute;
  top: 295px;
  left: 300px;
  width: 150px;
  height: 300px;
  background-color: white;
  
  -webkit-clip-path: circle(30.7% at 50% 100%);
clip-path: circle(30.7% at 50% 100%);
}
.snow_ground6 {
  position: absolute;
  top: 335px;
  left: 390px;
  width: 150px;
  height: 300px;
  background-color: white;
  
  -webkit-clip-path: circle(30.7% at 50% 100%);
clip-path: circle(30.7% at 50% 100%);
}
.snow_ground7 {
  position: absolute;
  top: 320px;
  left: 470px;
  width: 150px;
  height: 300px;
  background-color: white;
  -webkit-clip-path: circle(30.7% at 50% 100%);
clip-path: circle(30.7% at 50% 100%);
}
.snow_ground8 {
  position: absolute;
  top: 290px;
  left: 570px;
  width: 250px;
  height: 300px;
  background-color: white;
  
  -webkit-clip-path: circle(30.7% at 50% 100%);
clip-path: circle(30.7% at 50% 100%);
}
.snow_ground9 {
  position: absolute;
  top: 290px;
  left: 670px;
  width: 450px;
  height: 300px;
  background-color: white;
  
  -webkit-clip-path: circle(30.7% at 50% 100%);
clip-path: circle(30.7% at 50% 100%);
}
.cloud_wrapper {
  position: absolute;
  left: 10px;
  top: 122px;
}
.cloud_wrapper2 {
  position: absolute;
  left: 70px;
  top: 12px;
}
.cloud_wrapper3 {
  position: absolute;
  left: 190px;
  top: 122px;
}

.cloud_leave2  {
  height: 100px;
  width: 400px;
  background-color: red;
}

.cloud {
  position: absolute;
  left: 100px;
  top: 100px;
 clip-path: ellipse(73% 40% at 26% 23%);
  background-color: white;
  clip-path: ellipse(26% 18% at 51% 41%);
  height: 100px;
  width: 100px;
}
.cloud_leave2 {
  position: absolute;
  left: 120px;
  top: 100px;
 clip-path: ellipse(73% 40% at 26% 23%);
  background-color: white;
  clip-path: ellipse(26% 18% at 51% 41%);
  height: 100px;
  width: 100px;
}
.cloud_leave3 {
  position: absolute;
  left: 140px;
  top: 90px;
 clip-path: ellipse(73% 40% at 26% 23%);
  background-color: white;
  clip-path: ellipse(26% 18% at 51% 41%);
  height: 100px;
  width: 100px;
}
.cloud_leave4 {
  position: absolute;
  left: 120px;
  top: 90px;
 clip-path: ellipse(73% 40% at 26% 23%);
  background-color: white;
  clip-path: ellipse(26% 18% at 51% 41%);
  height: 100px;
  width: 100px;
}
.cloud_leave5 {
  position: absolute;
  left: 120px;
  top: 110px;
 clip-path: ellipse(73% 40% at 26% 23%);
  background-color: white;
  clip-path: ellipse(26% 18% at 51% 41%);
  height: 100px;
  width: 100px;
}
.cloud_leave6 {
  position: absolute;
  left: 150px;
  top: 100px;
 clip-path: ellipse(73% 40% at 26% 23%);
  background-color: white;
  clip-path: ellipse(26% 18% at 51% 41%);
  height: 100px;
  width: 100px;
}